@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Custom styles for removing arrows on number inputs */
  .custom-number-input::-webkit-inner-spin-button,
  .custom-number-input::-webkit-outer-spin-button {
    @apply appearance-none;
  }

  .custom-number-input {
    appearance: textfield;
    -moz-appearance: textfield; /* For Firefox */
  }
}

@font-face {
  font-family: "Apple Color Emoji";
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/AppleColorEmoji.ttf") format("truetype");
}
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/PlayfairDisplay-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  src: url("https://rsms.me/inter/inter.css") format("truetype");
}
@font-face {
  font-family: "Racing Sans One";
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/RacingSansOne-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "SuisseIntl Light";
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/SuisseIntl-Light.ttf") format("truetype");
}
@font-face {
  font-family: "SuisseIntl Medium";
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/SuisseIntl-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "SuisseIntl Regular";
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/SuisseIntl-Regular.ttf") format("truetype");
}

html,
body {
  overflow-y: auto;
}

@layer base {
  :root {
    --primary: #5423e8 ;
    --primary-foreground: #ffffff;
    --secondary: #fafbfe;
    --secondary-foreground: #475467;
    --destructive: #f43f5e;
    --destructive-foreground: #ffffff;
    --accent: #f4f4f5;
    --accent-foreground: #18181b;
    --link: #344054;
    --muted: #c0c8d4;
  }
  .font-outline-1 {
    -webkit-text-stroke: 2px black;
    paint-order: stroke fill;
  }
}

/* [role="emoji"] {
  font-family: 'Apple Color Emoji', sans-serif;
} */

.playfair-display {
  font-family: "Playfair Display", serif;
}

.inter {
  font-family: "Inter", sans-serif;
}

.racing-sans-one {
  font-family: "Racing Sans One", sans-serif;
}

.suisse-intl-light {
  font-family: "SuisseIntl Light", sans-serif;
}

.suisse-intl-medium {
  font-family: "SuisseIntl Medium", sans-serif;
}

.suisse-intl-regular {
  font-family: "SuisseIntl Regular", sans-serif;
}


/* Overriding react-datepicker with custom Tailwind styles */
.custom-calendar {
  @apply shadow-lg px-2;
}

.custom-calendar .react-datepicker__header {
  @apply bg-transparent;
}

.custom-calendar .react-datepicker__day--selected {
  @apply bg-primary text-white;
}

.custom-calendar .react-datepicker__day--selected:hover {
  @apply text-white;
}

.custom-popper {
  @apply z-50 border-none rounded-lg shadow-xl;
}

.custom-wrapper {
  @apply w-full;
}

/* Hide scrollbar for WebKit browsers */
.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for other browsers */
.custom-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height for horizontal scrollbar */
}

/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #f3f4f6; /* Tailwind gray-600 */
  border-radius: 10px; /* Rounded corners */
  border: 2px solid #f9fafb; /* Tailwind gray-50 for spacing */
}

/* Handle on hover */
.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #1f2937; /* Tailwind gray-800 */
}

/* Track */
.scrollbar::-webkit-scrollbar-track {
  background-color: white; /* Tailwind gray-200 */
  border-radius: 10px;
}

/* Optional: Smooth scrolling */
.scrollbar {
  scroll-behavior: smooth;
}
